.fluid-banner {

    background-color: rgb(114, 131, 181);
 }

 .banner-search {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12%;
 }


 /* input search */

 .search-input::placeholder {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: lightblue;
 }


 /* Styles for the loader overlay */

 .overlay-blur {
    background-color: rgba(255, 255, 255, 0.5);
    /* fallback for browsers that don't support backdrop-filter */
    -webkit-backdrop-filter: blur(15px);
    /* for Safari */
    backdrop-filter: blur(15px);
    /* for Chrome */
 }

 .overlay::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent black */
    z-index: 9999;
 }



 /* container overrides */

 .container {
    max-width: 80vw
 }

 .container-fluid.main-content {
    background-color: rgb(245, 245, 245);
    height: 100vh;
 }

 .v-search-container {
    background-color: white;
 }


 /* loader */
 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
 }

 /* Style the loader */
 .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

 }

 .svg-loader {
    height: 10rem;
    width: 36rem;

 }


 /* list group items */

 .list-group li {
    width: 100%;
    position: relative;
    background-color: white;
    height: 2.5rem;
    transition: 0.3s;
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    flex-basis: fit-content;
    padding: 10px;
    border-bottom: solid 1px rgb(46, 193, 205);

 }

 .list-group li:hover {
    background-color: lightblue;
    transition: 0.3s;
 }

 .list-group li a {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 1.4rem;
 }

 #socialAccordion .accordion-header button,
 #venueTypeAccordion .accordion-header button,
 #accommodationAccordion .accordion-header button {
    border-radius: 0;
 }

 .accordion-body {
    padding: 0;
 }

 .accordion-button:not(.collapsed) {
    background-color: rgb(114, 131, 181);
    color: white;
 }


 /* Star rating */

 .clip-star {
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 2rem;
    width: 2rem;
 }

 .rating {
    align-items: center;
    display: flex;
    justify-content: center;
 }

 .venue-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
 }

 .access-icon-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5rem;
    color: green
 }


 /* temporary */

 #showLoaderBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
 }