.floating-btn {
  position: fixed; 
  bottom: 20px;
  left: 20px;   
  color: #fff;    
  border: none;    
  border-radius: 50%;  
  width: 60px;     
  height: 60px;    
  font-size: 32px; 
  cursor: pointer; 
  z-index: 999;
}

.accessButton {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgba(215, 215, 215, 0.850); 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.accessButton:hover {
  background-color: #198754;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-10px);
}

.grayscale {
  filter: grayscale(100%) !important;
}

.light-background {
  background: white;
}

.high-contrast {
background: black;
color: white;
filter: invert(100%);
}

.negative-contrast {
filter: invert(1) hue-rotate(180deg);
background: black;
}