html,
body {
  height: 100%;
}

ul.list {
  list-style-type: none;
  /* removes bullet points*/
  margin: 0;
  padding: 0;
}

ul.list li {
  display: inline-block;
  padding: 8px;
  text-align: center;
  font-size: 30px;
}

li a:hover {
  background-color: rgb(220, 247, 247);
}

.form-content {
  background-color: rgba(251, 226, 23, 0.72);
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  padding: 2rem;
  width: 100%;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);

}

input,
label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0;
}

.login-container {
  display: table;
  height: 100%;
  margin: 0 auto;
  width: 40%;
}

.Login-form {
  display: table-cell;
  vertical-align: middle;
}

.loginLeft {
  /* background-image: url(blueSquare.jpg); */
  background-color: black;
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
}

.loginRight {
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
  background-color: #ffffffb0;
}

.bg-img {
  vertical-align: middle;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.logo-container {
  margin-bottom: 0.5rem;
  display: flex;
  height: 6rem;
  display: flex;
  justify-content: space-evenly;
}

.logo-container h1 {
  color: #033f7c;
  padding-top: 10px;
  font-size: 4rem;
}

.slogan h1 {
  color: #ffffffe6;
  position: absolute;
  font-size: 5.5rem;
  padding-top: 40vh;
  padding-left: 1rem;
}